.divisi1 {
}
.he1 {
  font-weight: bold;
}
.he1-sub {
  color: orange;
}
.p1 {
  margin-top: 20px;
}
.divisi2 {
  margin-top: 50px;
}
.he2 {
  font-weight: bold;
}
.p2 {
  margin-top: 20px;
}
.divisi3 {
  margin-top: 50px;
}
.he3 {
  font-weight: bold;
}
.divisi4 {
  margin-top: 50px;
}
.he4,
.he5,
.he6 {
  font-weight: bold;
}
.divisi5 {
  margin-top: 100px;
}
.img {
  width: 400px;
}
